<h1>Producto con id={{_id}}</h1>
	<div>
			<p><strong>{{title}}</strong>: {{description}}</p>
			<ul><strong>Código, status y categoría</strong>: {{code}}, {{status}} y {{category}}</ul>
			<ul><strong>Precio y stock</strong>: ${{price}} y {{stock}} unidades</ul>
			<form action="/api/carts/67bcf225a8b70c7517b44183/products/{{this._id}}?_method=PUT" method="post">
				<label for="quantity">Cantidad:</label>  <!-- carrito harcodeado dado que pueden haber múltiples carritos existentes -->
				<input type="number" id="quantity" name="quantity" required step="1" min="1" max="{{stock}}"><br>
				<input type="hidden" name="_method" value="PUT">
				<button type="submit">Agregar al carrito</button>
			</form>
 	</div>
